/* Importing Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Global properties */
*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #aecc99;
}

/* Navbar */
.navbar-custom{
    background-color: #385723;
    margin-bottom: 20px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #ffffff;
    font-weight: bold;
}

.navbar-custom .navbar-nav .nav-link{
    color: #ffffff;
    font-weight: bold;
    margin-right: 10px;
}

.navbar-custom .nav-item.active .nav-link
{
    color: #5d883f;
    border-bottom: 2px dotted #ffffff;
}

.navbar-custom .nav-item:hover .nav-link{
    color: #5d883f;
}

/* Center Image */
.img-fluid{
    max-width: 100%;
    height: auto;
}