/* Importing Font */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Global properties */
*{
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #aecc99;
}

/* Navbar */
.navbar-custom{
    background-color: #385723;
    margin-bottom: 20px;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
    color: #ffffff;
    font-weight: bold;
}

.navbar-custom .navbar-nav .nav-link{
    color: #daf1ca;
    margin-right: 10px;
}

.navbar-custom .nav-item.active .nav-link
{
    color: #ffffff;
    font-weight: bold;
    border-bottom: 2px solid #ffffff;
}

.navbar-custom .nav-item:hover .nav-link{
    color: #ffffff;
}

/* Center Image */
.img-fluid{
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Jumbotron */
.jumbotron{
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.jumbotron .lead{
    font-weight: bold;
    color: #385723;
}

/* Titles */
.titles .display-4{
    color: #385723;
}

/* Table */
.table-custom{
    background-color: #375722;
    color: #ffffff;
    margin: 20px auto 0px auto;
}

.table-custom caption{
    color: #212529;
    font-weight: bold;
}

/* About Us */
.img-custom{
    width: 80%;
    height: 80%;
}

.about-circle{
    font-size: 20px;
    width: 60px;
    background-color: #375722;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    color: #ffffff;
    font-weight: bold;
}

/* Map */

.gmap{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}
iframe{
    display: block;
    width: 100%;
}

/* Contact Details */
.contact{
    margin-top: 20px;
    margin-bottom: 20px;
}

.contact p{
    margin-top: 20px;
}
/* Footer */
.copyright{
    background-color: #375722;
    color: #ffffff;
    font-weight: bold;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}